
{% block body %}

    <ul class="thumbnails">

        {% if empty %}
            <h5>Leeg</h5>
        {% endif %}
        {% set cart = app.session.get('cart') %}
        {% set total = 0 %}
        {% set count = 0 %}

        {% if product %}

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Aantal</th>
                            <th>Gerecht</th>
                            <th>Totaal</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for key, item in cart %}
                            <tr>
                                <td>{{ item }}x</td>

                                {% for row in product %}
                                    {% if row.id == key %}
                                        <td>{{ row.naam }}</td>
                                        <td>€{{ (row.prijs * item) | number_format(2) }}</td>
                                        {% set total = total + (row.prijs * item)  %}
                                    {% endif %}
                                {% endfor %}

                                <td><a onclick="remove({{ key }})"><button class="btn btn-danger">x</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        {% endif %}
    </ul>
    <hr>
    <H4 class="right" style="text-align: center">Totaal = €{{ total | number_format(2) }}</H4>
    <a href="{{ path('checkout') }}"><button type="button" class="btn btn-success">Afrekenen</button></a>


{% endblock %}
