{% extends 'base.html.twig' %}

{% block title %}Gerecht{% endblock %}

{% block body %}
<h1>Gerecht</h1>
<hr>
<table class="table">
    <tbody>
	        <tr>
            <th>Id</th>
            <td>{{ gerecht.id }}</td>
        </tr>
	        <tr>
            <th>Naam</th>
            <td>{{ gerecht.naam }}</td>
        </tr>
	        <tr>
            <th>Beschrijving</th>
            <td>{{ gerecht.beschrijving }}</td>
        </tr>
	        <tr>
            <th>Prijs</th>
            <td>{{ gerecht.prijs }}</td>
        </tr>
	    </tbody>
</table>

<a href="{{ path('gerecht_index') }}" class="btn btn-primary">Terug</a>
<br>
<a class="btn btn-warning" href="{{ path('gerecht_edit', {'id': gerecht.id}) }}">Bewerken</a>
<br>
{{ include('gerecht/_delete_form.html.twig') }}
{% endblock %}
