{% if is_granted("ROLE_SUPER_ADMIN") %}
    {% set base = 'base2.html.twig' %}
{% else %}
    {% set base = 'base.html.twig' %}
{% endif %}
{% extends base %}

{% block body %}
    <h1>Factuur {{ bestelling.id }}</h1>
    {% if (bestelling.reservering == app.user or is_granted("ROLE_SUPER_ADMIN")) %}
        <table class="table table-striped pull-right">
            <thead>
            <tr>
                <th>Aantal</th>
                <th>product</th>
                <th>prijs</th>
                <th>totaal</th>
            </tr>
            </thead>
            <tbody>
            {% set gentot = 0 %}
            {% for regel in regels %}
                <tr>
                    <td>{{ regel.aantal }}</td>
                    {% set totaal = regel.aantal %}
                    <td>{{ regel.gerecht.naam }}</td>
                    <td>
                        {% for product in gerechten %}
                            {% set p = regel.gerecht %}
                            {% if p.id == product.id %}
                                {{ product.prijs|number_format(2) }}
                                {% set totaal = (totaal * product.prijs) %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ totaal|number_format(2) }}</td>
                    {% set gentot = (gentot + totaal) %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 class="btn-block">totaal voor deze factuur = € {{ gentot|number_format(2) }}</h3></br>

        <a href="{{ path('bestelling_index') }}">
            <button type="button" class="btn btn-info col-lg-2 right">Terug</button>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('bestelling_edit', { 'id': bestelling.id }) }}">
                <button type="button" class="btn btn-warning center-block col-lg-3">Bewerken</button>
            </a>
        {% endif %}

    {% else %}
        <h2>Deze factuur is van andere klant.</h2>
    {% endif %}

{% endblock %}
