{% extends 'base2.html.twig' %}

{% block title %}Btw index{% endblock %}

{% block body %}
<h1>Btw</h1>
<hr>
<table class="table">
    <thead>
    <tr>
		            <th>Id</th>
		            <th>Naam</th>
		            <th>Percentage</th>
		        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for btw in btws %}
    <tr>
		            <td>{{ btw.id }}</td>
		            <td>{{ btw.naam }}</td>
		            <td>{{ btw.percentage }}</td>
		        <td>
            <a class="btn btn-primary" href="{{ path('btw_show', {'id': btw.id}) }}">Bekijk</a>
            <a class="btn btn-warning" href="{{ path('btw_edit', {'id': btw.id}) }}">Bewerk</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">Geen gegevens gevonden</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-success" href="{{ path('btw_new') }}">Nieuw</a>
{% endblock %}
